ol{
    height: 500px; background-color: black;
    color: white;
}
h4,h5,h6{
    padding: 50px; background-color: aqua;
    font-size: 3rem;
}
.orderered{
    text-align: center; color: brown;
    font-weight: bold; background-color: red;
    color: white;
}
#kano{
    font-size: 50px; padding: 30px 30px;    
    background-color: blueviolet    ;
    margin-left: 50px    ;
}
.header{
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px; padding: 70px;
    font-weight:  900; 
}
.box{
    height: 200px; 
    width: 200p; 
    background-color: yellow;
}